/ {
    uScope@fffc0000 {
        compatible = "ucube_lkm";
        reg = <0xfffc0000 0x8000>;
        interrupts = <0 89 1>;
        interrupt-parent = <&gic>;
        ucubever = "zynqmp";
    };
};
